<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        function delayer() {
            window.location = "/login";
        }
    </script>
    </head>

    <body onLoad="setTimeout('delayer()', 5000)">
        <h2>Dang ky thanh cong, vui long dang nhap.</h2>
    </body>

</html>