<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <input type="checkbox" id="show-modal" hidden>
    <label for="show-modal" class="btn">Xin chao <%= user.username%></label>
    <div class="modal">
        <label for="show-modal" class="times">&times;</label>
        <div class="form">
            <ul class="list">
                <li class="list__item active">Thêm lượt gửi xe</li>
                <li class="list__item">Thêm người dùng.</li>
                <li class="list__item">Thêm phương tiện.</li>
                <li class="list__item">Thanh toán</li>
                <li class="list__item">Danh sách phương tiện</li>
                <li class="list__item">Danh sách người dùng.</li>
                <li class="list__item">Đổi mật khẩu</li>
                <li class="list__item">Chỉnh sửa giá vé</li>
                <li class="list__item">Đăng xuất</li>
            </ul>
            <div class="form__body">
                <div class="form__body-display active">
                    <h2>Thêm lượt gửi xe</h2>
                    <form action="add-new-turn" method="post">
                        <div class="mb-3">
                            <label for="license" class="form-label">Nhập biển số xe</label>
                            <input type="text" class="form-control" name="license"
                                placeholder="Example input placeholder">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="form__body-display">
                    <h2>Thêm người dùng</h2>
                    <form action="add-new-user" method="post">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Nhập họ tên người dùng</label>
                            <input type="text" class="form-control" name="fullName"
                                placeholder="Example input placeholder">
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Nhập số điện thoại</label>
                            <input type="text" class="form-control" name="tel" placeholder="Another input placeholder">
                        </div>
                        <div class="mb-3">
                            <label for="addr" class="form-label">Nhập địa chỉ</label>
                            <input type="text" class="form-control" name="addr" placeholder="Another input placeholder">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit
                                form</button>
                        </div>
                    </form>
                </div>
                <div class="form__body-display">
                    <h2>Thêm phương tiện.</h2>
                    <form action="add-new-vehicle" method="post">
                        <div><select name="typeVehicle" id="typeOfUser">
                                <option value="type1">Xe đạp / xe điện</option>
                                <option value="type2">Xe máy</option>
                                <option value="type3">Oto</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="license" class="form-label">Biển số xe</label>
                            <input type="text" class="form-control" name="license"
                                placeholder="Example input placeholder">
                        </div>
                        <div class="mb-3">
                            <label for="id" class="form-label">Owner by ID</label>
                            <input type="text" class="form-control" name="id" placeholder="Another input placeholder">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit
                                form</button>
                        </div>
                    </form>
                </div>
                <div class="form__body-display">
                    <h2>Thanh toán</h2>
                    <form action="pay-user" method="post">
                        <div class="mb-3">
                            <label for="money" class="form-label">Số tiền</label>
                            <input type="text" class="form-control" name="money">
                        </div>
                        <div class="mb-3">
                            <label for="id" class="form-label">ID</label>
                            <input type="text" class="form-control" name="id">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Thanh toán</button>
                        </div>
                    </form>
                </div>
                <div class="form__body-display">
                    <iframe src="/allVehicle" frameborder="0"></iframe>
                </div>
                <div class="form__body-display">
                    <iframe src="/allUser" frameborder="0"></iframe>
                </div>
                <div class="form__body-display">
                    <h2>Đổi mật khẩu</h2>
                    <form action="changePass" method="post">
                        <input type="password" name="oldPass" placeholder="Mật khẩu cũ" required>
                        <input type="password" name="newPass" placeholder="Mật khẩu mới" required>
                        <input type="password" name="reNewPass" placeholder="Nhập lại mật khẩu mới" required>
                        <input type="submit">
                    </form>
                </div>
                <div class="form__body-display">
                    <h2>Chỉnh sửa giá vé</h2>
                    <form action="change-price" method="post">
                        <label for="priceType1">Giá vé xe đạp / xe điện</label>
                        <input type="text" name="priceType1" placeholder="3000" required><br>
                        <label for="priceType2">Giá vé xe máy</label>
                        <input type="text" name="priceType2" placeholder="5000" required><br>
                        <label for="priceType3">Giá vé xe oto</label>
                        <input type="text" name="priceType3" placeholder="50000" required><br>
                        <label for="priceType4">Giá vé các loại xe khác</label>
                        <input type="text" name="priceType4" placeholder="20000" required><br>
                        <input type="submit" value="Save">
                        <input type="reset" value="Reset">
                    </form>
                </div>
                <div class="form__body-display">
                    <h2>đăng xuất</h2>
                    <form action="logout">
                        <button type="submit">Xác nhận đăng xuất</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        const listItem = $$('.list__item');
        const workPlaces = $$('.form__body-display');
        //click to active 
        listItem.forEach((item, index) => {
            const workPlace = workPlaces[index];
            item.onclick = function () {
                $('.list__item.active').classList.remove('active');
                $('.form__body-display.active').classList.remove('active');

                item.classList.add('active');
                workPlace.classList.add('active');
            };
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>