<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/images/logo.ico">
</head>

<body>
    <div class="app">
        <div class="wrapper">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="header">
            <div class="header-l">
                <a href="/" class="header-l__logo">
                    <img src="./assets/images/logo.png" alt="">
                </a>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="/" class="header__menu-link">Home</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">FAQ</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Block</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/login" class="header__menu-link btn signIn">Sign In</a>
                    </li>
                </ul>
            </div>
            <div class="header-r">
                <ul class="header-social">
                    <li class="header-social__item">
                        <a href="https://www.fb.me/vuongsyhanh" class="header-social__item-link">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="header-social__item">
                        <a href="https://github.com/dimpDEV" class="header-social__item-link">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li class="header-social__item">
                        <a href="https://t.me/ssyhanh" class="header-social__item-link">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                    <li class="header-social__item">
                        <a href="https://www.instagram.com/vuongsyhanh/" class="header-social__item-link">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="content__msg">
                    <h3 class="content__msg-large">Hello!</h3>
                    <h3 class="content__msg-medium">We are Team 11</h3>
                    <p class="content__msg-content">Let us help you <b>save money</b> on your parking services!</p>
                </div>
                <a href="/register" class="btn">Register now!</a>
            </div>
            <div class="background">
                <img src="./assets/images/bg-item1.png" alt="">
            </div>
        </div>
        <div class="footer">
            <p>©2022 ParkingApp</p>
        </div>
    </div>
    <script type="text/javascript">
        var newLocation = () => {
            window.location = "http://parkingapp.xyz/";
        };
        if (window.location.href === "https://parking-t11.herokuapp.com/" || window.location.href === "http://parking-t11.herokuapp.com/") {
            newLocation();
        }
    </script>
</body>

</html>