<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/update.css">
    <script>
        if(window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>

<body>
    <h2 class="tab-title">UPDATE</h2>
    <form action="/update-user" method="POST" id="update-user">
        <div>
            <input type="text" name="id" value="<%= dataUser.id %>" hidden>
        </div>
        <div>
            <label class="form-label">Full Name</label>
            <div class="form-group">
                <input type="text" class="form-control" name="fullName" value="<%= dataUser.fullName%>"
                    rules="required|isFullName">
                <span class="error-msg"></span>
            </div>
        </div>
        <div>
            <label class="form-label">Phone number</label>
            <div class="form-group">
                <input type="text" class="form-control" name="tel" value="<%= dataUser.tel%>"
                    rules="required|isPhoneNumber">
                <span class="error-msg"></span>
            </div>
        </div>
        <div>
            <label class="form-label">Address</label>
            <div class="form-group">
                <input type="text" class="form-control" name="addr" value="<%= dataUser.addr%>" rules="required">
                <span class="error-msg"></span>
            </div>
        </div>

        <div class="center-line">
            <button class="button noselect btn-inverser-effect" type="reset">
                <span class="text">Reset</span>
                <span class="icon">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                </span>
            </button>
            <button class="button noselect" type="submit">
                <span class="text">Save</span>
                <span class="icon">
                    <i class="fa-solid fa-check"></i>
                </span>
            </button>
        </div>
    </form>
    <script src="../assets/js/validation.js"></script>
    <script type="text/javascript">
        Validator('#update-user')
    </script>
</body>

</html>