<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/update-user" method="POST">
        <div><input type="text" name="id" value="<%= dataUser.id %>" hidden></div>
        <div>
            <label>Full Name</label>
            <input type="text" name="fullName" value="<%= dataUser.fullName%>">
        </div>
        <div>
            <label>SĐT</label>
            <input type="text" name="tel" value="<%= dataUser.tel%>">
        </div>
        <div>
            <label>Địa chỉ</label>
            <input type="text" name="addr" value="<%= dataUser.addr%>">
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>

</html>